#https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_bind_address

[mysqld]
user = mysql  # 'root' 대신 'mysql' 사용자로 실행
port = 3306
bind-address = 0.0.0.0  # 모든 IP에서 접근 가능
#skip-name-resolve  # DNS 조회를 건너뛰어 성능 향상
#default-authentication-plugin=mysql_native_password  # 호환성 문제 방지
